<h1>Edit Movie</h1>

<form action="/movie/{{_id}}?_method=PUT" method="POST">
    <input type="text" name="name" placeholder="name" value="{{name}}"/>
    <input type="number" name="releaseYear" placeholder="releaseYear" value="{{releaseYear}}"/>
    <input type="text" name="genre" placeholder="genre" value="{{genre}}"/>
    <input type="text" name="director" placeholder="director" value="{{director}}"/>
    <input type="text" name="picture" placeholder="picture" value="{{picture}}"/>

    <input type="submit" value="Save"/>
</form>