<h1>{{name}}</h1>

<p>Release Year: {{releaseYear}}</p>
<p>Genre: {{genre}}</p>
<p>Director: <a href="/director/{{_id}}">
    {{director}}
</a></p>
<p>
     {{#if trailer}}
        <iframe width="875" height="372" src="{{trailer}}" frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{/if}}
</p>

<a href="/movie/edit/{{_id}}">
    <button>
    Edit Movie
    </button>
</a>

<form action="/movie/{{_id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete Movie"/>
</form>

<a href="/movie">
    <button>
    Back
    </button>
</a>
